#over0, #over1, #over2, #over3, #over4, #over5{
  box-sizing: border-box;
  max-width: 33.33%;
  width: 100%;
  color: #ffff;
  display: inline;
  z-index: 120;
  -ms-flex: 20%;
  flex: 20%;
  position: absolute;
  text-align: center;
  font-size: 24px;

}
.myButton_boop {
     background-color:#d1d1d1;
     border-radius:4px;
     display:inline-block;
     cursor:pointer;
     color:#ffffff;
     font-size:19px;
     padding:12px 18px;
     text-decoration:none;
}
.myButton_boop:hover {
	background-color:#bcbdbb;
}
.myButton_boop:active {
	position:relative;
	top:1px;
}



#descripofme{
  padding-left: 20%;
  padding-right: 20%;
}
.flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}

.back-background{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  background: #000;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

#mysubtitle{
  font-size: 19px;
  margin-left: 15%;
  margin-right: 15%;
}
#head-padding{
  padding: 14px;
}

.sixth{
  float:left;
  width: 16.6666%;
}
.fifth{
  float:left;
  width: 20%;
}

@media (max-width:601px){
  .fifth, .sixth{
  float:left;
  width: 100%;
  }
  #mysubtitle{
  font-size: 19px;
  margin-left: 5%;
  margin-right: 5%;
}
}
#headertext{
background-color:#f1f1f1;
color: #000;
width: 100%;
font-size: 30px;
padding-top: 40px;
padding-bottom: 40px;
  }
#myname{
  font-weight: bold;
}
#mytitle{
  font-weight: bold;
  font-size: 34px;
}
#profilepic{
  border-radius: 50%;
}
.top-padding-24{
  padding-top:24px!important;
}
